.main{
    background-image:url("https://images.pexels.com/photos/240572/pexels-photo-240572.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-size:cover;
      background-repat:no-repeat;
      background-position:center;
      width: 100%;
      height:890px;
      font-size:50px;
      box-shadow: 2px 2px 10px 2px;
      font-family: 'Redressed', cursive;
    }
    div{
      box-sizing:border-block; 
      display:inline-block;
      font-weight:bold;
      box-shadow: 5px 2px 3px 2px;
    }
    .primary{
      background-color: ##0d2242;
      color:white;
      padding: 12px 20px;
      border-radius:5px;
      font-size:16px;
      }
    .secondary{
      background-color:##0d2242;
      color:white;
      padding:20px 15px;
      border-radius:5px;
      font-size:20px;
    }
    .success{
      background-color:##0d2242;
      color:white;
      padding:14px 16px;
      border-radius:20px;
      font-size:18px;
    }
    .error{
      background-color:##0d2242;
      color:white;
      font-size:16px;
      padding:14px 12px;
      border-radius:5px;
    }
    .warning{
      background-color:##0d2242;
      color:white;
      font-size:20px;
      padding:14px 12px;
      border-radius:5px;
    }
    .blocks{
     position:relative;
      left:30%;
      top:85%;
      transform:translate(-50% -50%);
      margin:10px;
      width:50%;
      
    }